* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    color: black;
    background-image: url('morning.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



#navbar {
    color: black;
    min-height: 40px;
    background-color: wheat;
    border-bottom-right-radius: 1rem;
    text-align: center;
    padding-top: 1rem;
    margin-bottom: 1rem;
}

#navbar .Links{
    text-align: center;
    padding: 1rem;
    color: black;
     text-decoration: none;
    margin-bottom: 2rem;
    font-size: large;
    font-weight: bold;
}

#navbar .Links:hover{
    text-decoration: underline;
    color: white;
}

#formstar {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

#formstar label {
    margin: 5px 10px 5px 0;
    vertical-align: middle;
}

#formstar input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 80%;
}

#setAlarm:hover {
    background-color: royalblue;
}

#quote {
    display: flex; 
    justify-content:flex-start;
    margin-bottom: 32px;
}



#datetime {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 50%;
    height: 35vh;
    padding: 0.6rem 0.5rem ;
    border: 3px solid black;
    border-radius: 5px;
}

h1 {
    font-size: 8rem;
}

h2 {
    font-size: 2rem;
}

button {
    padding: 0.5rem;
    color: white;
    border: 2px solid black;
    border-radius: 1rem;
    background: transparent;
    font-size: 1rem;
    cursor: pointer;

}

#date {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
}

#time {
    font-size: 60px;
    display: flex;
    justify-content: center;
    font-weight: 600;
    text-align: center;
    letter-spacing: normal;
}
#time span:not(:last-child){
    position: relative;
    margin: 0 6px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
}
#time span:last-child{
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 2rem 5px;
}